Source: brewtarget
Section: misc
Priority: optional
Maintainer: Philip G. Lee <rocketman768@gmail.com>
Build-Depends: cmake (>= 2.8.11), debhelper (>= 9.0), autotools-dev, qtbase5-dev, qttools5-dev, libphonon4qt5-dev, libqt5webkit5-dev
Standards-Version: 3.9.5
Homepage: http://www.brewtarget.org

Package: brewtarget
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5sql5-sqlite, libqt5svg5
Description: GUI beer brewing software
 Brewtarget is a calculator for brewing beer. It is a Qt-based program which
 allows you to create recipes from a database of ingredients. It calculates all
 the important parameters, helps you with mash temperatures, and just makes the
 process of recipe formulation much easier.

